<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>PawOnCall</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <base href="/" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>Hello PawOnCall</h1>

    <div class="container">
        <div sec:authorize="isAnonymous()">
            <a th:href="@{/login}">Login</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <div style="text-align: center;">
                <h1>Welcome, <span th:text="${userName}">User</span>!</h1>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Logout" />
                </form>
            </div>
            <a th:href="@{/logout}">Logout</a>
        </div>
    </div>

    <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
    <script type="text/javascript">
        $
            .ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (settings.type == 'POST' || settings.type == 'PUT'
                        || settings.type == 'DELETE') {
                        if (!(/^http:.*/.test(settings.url) || /^https:.*/
                            .test(settings.url))) {
                            // Only send the token to relative URLs i.e. locally.
                            xhr.setRequestHeader("X-XSRF-TOKEN",
                                Cookies.get('XSRF-TOKEN'));
                        }
                    }
                }
            });
        // $.get("/user", function (data) {
        //     $("#user").html(data.name);
        //     $(".unauthenticated").hide()
        //     $(".authenticated").show()
        // });
        var logout = function () {
            $.post("/logout", function () {
                $("#user").html('');
                $(".unauthenticated").show();
                $(".authenticated").hide();
            })
            return true;
        }
    </script>
</body>

</html>